.contentMain{
    display: grid;
}
.grid-content {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    width:95%;
    max-width: 1200px;
    margin-left:28px;
}
@media screen and (max-width: 800px) {
    .grid-content {
       grid-template-columns:repeat(1, 1fr);
       margin-left: 20px;
       gap:16px;
    }
}
@media screen and (max-width: 500px) {
    .grid-content{
        grid-template-columns :1fr;
        gap: 12px; 
        margin-left:10px;
        width:90%;
    }

}
