.sidebar {
    max-width: 220px;
    background-color: #FFFFFF;
    padding: 34px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    border-right: 1px solid #EEF2FC;
    font-family: "Poppins", sans-serif;
  }
  
  .userinfo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .user_icon {
    font-size: 24px;
    color:#2563DC;
  }
  
  .userinfo h4 {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Navigation list styling */
  .navigation {
    flex-grow: 1;
  }
  
  .nav_list li, .Logout_side li {
    margin: 15px 0;
  }
  
  .nav_list a {
    color: #f0f1f3;
  }
  
  .nav_list button {
    display: flex;
    align-items: center;
    width: 160px;
    height:40px;
    padding: 14px 15px;
    border: none;
    background:#EEF2FC;
    cursor: pointer;
    font-size: 14px;
    color:#14367B;
    transition: background-color 0.3s ease;
    align-items:center;
    border-radius:8px;
    
  }

  .nav-icon {
    margin-right: 10px;
    margin-left:20px;
    width:16px;
    height:16px;
  }
  
  .nav_list button:hover{
    background:#2563DC;
    color: #FFFFFF;
  }

  .Logout_side{
    margin-top:540px;
  }
  .nav5-button{
    display: flex;
    align-items: center;
    width: 160px;
    height:40px;
    padding: 14px 15px;
    border: none;
    background:#FDF0EC;
    cursor: pointer;
    font-size: 14px;
    color:#81290E;
    transition: background-color 0.3s ease;
    align-items:center;
    border-radius:8px;
  }


  @media screen and (max-width: 1200px) {
    .sidebar {
      padding: 24px 16px;
    }
    .userinfo h4{
      font-size:16px;
    }
  }

  @media screen and (max-width: 900px) {
    .sidebar {
      padding: 20px 12px;
      width: 130px;
    }
    .userinfo h4{
      font-size:16px;
    }
    .Logout_side{
      margin-top:680px;
    }
    .nav_list button,.nav5-button {
      width: 120px;
      height:38px;
      padding: 14px 15px;
      font-size: 12px;
    }
    .nav-icon {
      margin-right: 10px;
      margin-left:10px;
      width:16px;
      height:16px;
    }
    .userinfo {
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content:center;
      margin-bottom: 40px;
    }
    
    
  }
  @media screen and (max-width: 800px) {
    .Logout_side{
      margin-top:320px;
    }
    .sidebar {
      padding: 20px 14px;
      width: 80px;
    } 
  .nav_list button,.nav5-button {
    width: 60px;
    height:38px;
    padding: 14px 15px;
    font-size: 12px;
  }
  .nav-icon {
    margin-left:8px;
    width:15px;
    height:15px;
  }
  .nav span{
    display:none;
  }
  .userinfo {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    margin-bottom: 40px;
  }
  
  .user_icon {
    font-size: 24px;
    margin-right: 10px;
    align-items:center;
    justify-content:center;
    color:#2563DC;
  }
  
  .userinfo h4 {
    font-size: 13px;
    font-weight: bold;
  }
}
  @media screen and (max-width: 500px) {
    .Logout_side{
      position:relative;
      margin-top:300px;
      
    }
    .sidebar {
      padding: 10px 5px;
      max-width: 60px;
      justify-content:flex-start;
    } 
  .nav_list button,.nav5-button {
    width: 30px;
    padding: 10px 5px;
    font-size: 12px;
    justify-content:center;
    align-items:center;
  }
  .nav-icon {
    width:10px;
    height:10px;
    margin:0;
  }
  
  .user_icon {
    font-size: 12px;
    margin-right: 8px;
  }
  
  .userinfo h4 {
    font-size: 9px;
    flex-direction:column;
    margin:0;
  }
  .nav_list li, .Logout_side li {
    margin: 12px 0;
  }
  }
  