.ToDo-container{
    display:grid;
    background:#CAD9F6;
    padding: 10px;
    border-radius: 8px;
    gap:12px;
    font-family: "Poppins", sans-serif;
}
.ToDo-header{
    display: flex;
    color:#14367B;
    align-items:center;
    gap:12px;
}
.icon{
    display:flex;
    height:22px;
    width:22px;
}
.ToDo-header span{
    font-weight:600;
    font-size:16px;
}
.profile-container{
    display:grid;
    background-color:#FFFFFF;
    padding:20px;
    align-items:center;
    justify-content:space-between;
    border-radius:10px;
}
.img-fit-cover{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.profile-icon{
    display: flex;
    gap:8px;
}
.p-icon{
    display:flex;
    height:22px;
    width:22px;
    color:#3D3D3D;
}
.img-container img{
    height:40px;
    width: 40px;
    border-radius:100%;
}
.profile-container p{
    margin-top:8px;
    font-size:12px;
    color:#3D3D3D;
}
@media screen and (max-width: 800px) {
    .ToDo-container {
        padding: 8px;
        gap: 10px;
    } 
    .ToDo-header {
        gap: 10px;
    }
    .icon {
        height: 18px;
        width: 18px;
    }
    .ToDo-header span {
        font-weight: 600;
        font-size: 14px;
    }
    .profile-container {
        padding: 16px;
    }
    .profile-icon {
        gap: 6px;
    }
    .p-icon {
        height: 18px;
        width: 18px;
    }
    .img-container img {
        height: 38px;
        width: 38px;
    }
    .profile-container p {
        margin-top: 6px;
        font-size: 9px;
    }
}
@media screen and (max-width:500px){
    .ToDo-container{
        padding:6px;
        gap:8px;
    }
    .ToDo-header span{
        font-size:12px;
    }
    .icon{
        height:14px;
        width:14px;
    }
    .profile-icon{
        padding:10px;
    }
    .p-icon{
        height:15px;
        width:15px;
    }
    .img-container img{
        height:30px;
        width:30px;
    }
    .profile-container{
        font-size:10px;
    }
    .Logout_side{
        margin-top:150vh;
      }
}